/node_modules
/vendor
/.env
/.env.*
/storage/*.key
/storage/app/public
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views
/storage/logs
/bootstrap/cache
/public/storage
/public/hot
npm-debug.log
yarn-error.log
.DS_Store
Thumbs.db
.idea
.vscode

